---
import Layout from '../../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';


const entry = await getEntry('guides', '001');
const { Content, headings } = await entry.render();
---
<Layout title="新手教程">

    <main>
        <div><Content /></div>
        <div><a href="/guides/010" class="btn btn-primary">开始 0.1.0 <span>&rarr;</span></a></div>
    </main>
</Layout>

<style>

</style>