---
import Layout from '../../layouts/Layout.astro';
import { getEntry } from 'astro:content';
import dayjs from "dayjs";
import LocalizedFormat from 'dayjs/plugin/localizedFormat'
dayjs.extend(LocalizedFormat)

const entry = await getEntry('guides', 'anyone-can-love-open-source');
const { Content,remarkPluginFrontmatter } = await entry.render();
const lastModified = dayjs(remarkPluginFrontmatter.lastModified).format("LLL");
---
<Layout title="开源实用指南">

    <main>
        <h2>{entry.data.title}</h2>
        <div class="row">
            <div class="col-md-4 p-2"><Content /></div>    
            <img class="col-md-8 p-2" src={entry.data.cover} />
        </div>
        <p class="lastModified">最后更新时间: {lastModified}</p>
        <div><a href="/guides/Your-first-step" class="btn btn-primary">你的第一步<span>&rarr;</span></a></div>
    </main>
</Layout>


<style>
    main {
        display: flex;
        flex-direction: column;
    }
  
    .lastModified {
        font-size: 0.8em;
        font-style: italic;
        color: #666;
        float: right;
    }
</style>