---
import Layout from '../../layouts/Layout.astro';
import Card from "../../components/Card.astro";
---

<Layout title="开源实用指南">
    <h2>走进开源世界</h2>
    <ul role="list" class="link-card-grid">
        <Card
                href="Start"
                title="开始"
        />
        <Card
                href="Embrace-Open-Source"
                title="我要开源！"
        />
        <Card
                href="Anyone-can-love-open-source"
                title="每个人都可以爱开源"
        />
        <Card
                href="Your-first-step"
                title="你的第一步"
        />
        <Card
                href="0.0.1"
                title="0.0.1"
        />
        <Card
                href="Practice-beats-theory"
                title="实践胜过理论"
        />
        <Card
                href="0.1.0"
                title="0.1.0"
        />
        <Card
                href="0.2.0"
                title="0.2.0"
        />
        <Card
                href="123"
                title="1、2、3……"
        />
        <Card
                href="Not-End"
                title="不是结束"
        />
    </ul>

</Layout>
<style>
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>