---
import Layout from '../../layouts/Layout.astro';
import {  getEntry } from 'astro:content';


const entry = await getEntry('guides', 'more');
const { Content } = await entry.render();
---
<Layout title="新手教程">

    <main>
        <div><Content /></div>

    </main>
</Layout>

<style>

</style>