---
import Layout from '../../layouts/Layout.astro';
import {  getEntry } from 'astro:content';


const entry = await getEntry('guides', 'Your-first-step');
const { Content } = await entry.render();
---
<Layout title="开源实用指南">

    <main>
        <div><Content /></div>
        <div><a href="/guides/0.0.1" class="btn btn-primary">0.0.1<span>&rarr;</span></a></div>
    </main>
</Layout>

<style>

</style>