---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Welcome to Astro.">
	<main>
		<h2>给新手的开源教程</h2>
		<ul role="list" class="link-card-grid">
			<Card
				href="/guides/newbie"
				title="给新手的教程"
				body="从这里开始你的开源社区第一步"
			/>

		</ul>
		<h2>社区</h2>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://astro.build/integrations/"
				title="发表看法"
				body="积极参与社区，从发出你的第一个看法开始"
			/>
			<Card
				href="/how-to/contribute"
				title="参与贡献"
				body="参与共享使用开源教程，从这里开始你的第一步"
			/>
		</ul>

	</main>
</Layout>

<style>

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
