---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="开源实用指南 | A Pragmatic Guide for Opensource">
	<div class="px-4 py-5 my-5 text-center">
		<h2 class="display-5 fw-bold text-body-emphasis">给新手的开源指南</h2>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">从这里开始你的开源第一步，加入开源社区，参与开源、贡献开源，最终成就开源。</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<a href="/guides/" class="btn btn-primary btn-lg px-4 gap-3">走进开源世界</a>
			</div>
		</div>
	</div>
	<main>

		<ul role="list" class="link-card-grid">
			<Card
				href="/guides/"
				title="走进开源"
				body="阅读指南，从这里开始你的开源社区第一步"
			/>
			<Card
				href="/keynotes/"
				title="观看演讲"
				body="观看演讲，从这里开始你的开源社区第一步"
			/>
		</ul>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/pragmaticguide/opensource-pragmatic-guide/discussions"
				title="发表看法"
				body="积极参与社区，从发出你的第一个看法开始"
			/>
			<Card
				href="/how-to/contribute"
				title="参与贡献"
				body="参与贡献这份开源实用教程，从这里开始你的第一步"
			/>
		</ul>

	</main>
</Layout>

<style>
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
