---
import Layout from "../layouts/Layout.astro";
import { getEntry } from 'astro:content';
const {body:markdown} = await getEntry('slides', 'index');
---

<Layout title="高效开源（个人篇）—— Keynotes">
    <div style="height: 450px;width:800px;">
        <div id="slides"  style="height: 450px;width:800px;"></div>
    </div>
    <script is:inline src="/remark-latest.min.js">
    </script>
    <script define:vars={{ markdown }}>
        var slideshow = remark.create({
            container: document.getElementById("slides"),
            ratio: '16:9',
            source:markdown
        });
    </script>
</Layout>
