---
import Layout from "../layouts/Layout.astro";
---

<Layout title="高效开源（个人篇）—— Keynotes">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/lib/js/head.min.js"
        integrity="sha512-8Nk/zoTKjNixnM15wXjpF26KR4Ln87cc5Yllc5xP54wwbcKnljAAn2JP+tYAS8+4e7s/XK8XTiDH0Ltw2fmoBQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.min.css"
        integrity="sha512-V5fKCVKOFy36w8zJmLzPH5R6zU6KvuHOvxfMRczx2ZeqTjKRGSBO9yiZjCKEJS3n6EmENwrH/xvSwXqxje+VVA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/simple.min.css"
        integrity="sha512-H0Emo35O2iLohWrEdT0VaS7CMV7vutYXmrrQnlEcOCduO9takaRwWQfCkbXzvxKVRchuBn2+JBKZTSRzOghkSw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />

    <div class="reveal">
        <div class="slides">
            <section  data-auto-animate>
                <h2 class="r-fit-text serif">高效开源（个人篇）</h2>
                <h3 class="serif">Effective Open Source Engagement（For Personal）</h3>
            </section>

            <section data-auto-animate>
                <div class="two">
                    <div class="col">
                        <h3 class="fw-bold serif">我要开源!</h3>
                        <p class="fw-lighter">无论是情操还是功利的目的</h4>
                        <ul class="fs-4 lh-lg">
                            <li>我热爱开源思想
                                <ul>
                                    <li>这听起来是一种非常高尚的情操</li>
                                    <li>符合我们从小接受的思想教育</li>
                                </ul>
                            </li>
                            <li>
                                我觉得参与开源能帮助职业发展
                                <ul>
                                    <li>各大企业都标榜自己“热爱”开源</li>
                                    <li>写在简历上似乎很酷</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <img
                           
                            src="https://img.linux.net.cn/data/attachment/album/202307/23/150856pc555sxvx1dvvmhc.jpg"
                            alt="我要开源"
                        />
                    </div>
                </div>
            </section>
            <section data-auto-animate>
                <div class="two">
                    <div class="col">
                        <h3 class="fw-bold serif">每个人都可以开源!</h3>
                        <p class="fw-lighter">行动胜过思想</h4>
                        <ul class="fs-4 lh-lg">
                           <li>我是一个懂编码的人</li>
                           <li>我是一个有艺术素养的人</li>
                           <li>我是一个社牛的人</li>
                           <li>我是一个擅长文字的人</li>
                           <li>我只是想多一种体验</li>
                        </ul>
                    </div>
                    <div class="col">
                        <img
                           
                            src="https://img.linux.net.cn/data/attachment/album/202307/23/150926gp37nz07w1jd1wcj.jpg"
                            alt="我要开源"
                        />
                    </div>
                </div>
            </section>
            <section data-auto-animate>
                <div class="two">
                    <div class="col">
                        <h3 class="fw-bold serif">你的第一步</h3>
                        <p class="fw-lighter">千里之行</h4>
                        <ul class="fs-4 lh-lg">
                         <li>了解开源是什么？<ul>
                            <li>一种思想和文化</li>
                            <li>一种行为模式</li>
                         </ul></li>
                         <li>如何找到「社区」<ul>
                            <li>它是一种群体行为</li>
                            <li>找到那些以特定方式组合起来的人</li>
                         </ul></li>
                         <li>如何加入</li>
                        </ul>
                    </div>
                    <div class="col">
                        <img
                            src="https://img.linux.net.cn/data/attachment/album/202307/23/150939z0crw7jr2c6r6u5m.jpg"
                            alt="我要开源"
                        />
                    </div>
                </div>
            </section>
            <section data-auto-animate>
                <div class="two">
                    <div class="col">
                        <h3 class="fw-bold serif">0.0.1</h3>
                        <p class="fw-lighter">尝试迈出第一只脚</h4>
                        <ul class="fs-4 lh-lg">
                            <li>寻求加入的方式<ul>
                                <li>Github、邮件列表、论坛、线下聚会</li>
                            </ul></li>
                            <li>做一个观察者<ul>
                                <li>入乡随俗、举手发言</li>
                            </ul></li>
                            <li>踩下第一个脚印<ul>
                                <li>错误报告、功能请求、修补建议 <ul>
                                    <li>https://GoodFirstIssue.dev</li>
                                </ul></li>
                                <li>文档、本地化、艺术素材</li>
                                <li>代码补丁、技术讨论</li>
                            </ul></li>
                        </ul>
                    </div>
                    <div class="col">
                        <img
                            src="https://img.linux.net.cn/data/attachment/album/202307/23/150939z0crw7jr2c6r6u5m.jpg"
                            alt="我要开源"
                        />
                    </div>
                </div>
            </section>
            <section data-auto-animate>
                <div class="two">
                    <div class="col">
                        <h3 class="fw-bold serif">0.1.0</h3>
                        <p class="fw-lighter">这是第二步</p>
                        <ul class="fs-4 lh-lg">
                            <li>
                                制作你的第一个玩具<ul>
                                    <li>你用到的、你喜欢的、你看到的</li>
                                    <li>「丑陋的小板凳」</li>
                                </ul>
                            </li>
                            <li>
                                许可证？不需要<ul>
                                    <li>重要的是拿出来，重要的是让大家喜欢</li>
                                    <li>
                                        当你有了一个更严肃的项目，才需要考虑许可证(<a
                                            href="https://ChooseALicense.com">ChooseALicense</a>、<a
                                            href="https://CreativeCommons.org/choose/">CreativeCommons</a
                                        >)
                                    </li>
                                </ul>
                            </li>
                            <li>
                                让大家知道<ul>
                                    <li>告诉尽量多的人，吸引更多人来一起玩</li>
                                    <li>你的第一个里程碑</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <img
                            src="https://img.linux.net.cn/data/attachment/album/202307/23/151119emotk5foff5o5uje.jpg"
                            alt="我要开源"
                        />
                    </div>
                </div>
            </section>
            <section data-auto-animate>
                <div class="two">
                    <div class="col">
                        <h3 class="fw-bold serif">0.2.0</h3>
                        <p class="fw-lighter">向世界证明自己</p>
                        <ul class="fs-4 lh-lg">
                           <li>找到一个大型项目/社区<ul>
                            <li>从乡下走向城市</li>
                            <li>不要被车撞到</li>
                            <li>不要灰心</li>
                           </ul></li>
                           <li>找到一个贡献方向<ul>
                            <li>做你能做到的事情</li>
                            <li>看看别人做了什么</li>
                           </ul></li>
                           <li>发起一个 PR/MR <ul>
                            <li>第一次贡献就被接纳是一种意外</li>
                            <li>你可以等待和再次尝试</li>
                           </ul></li>
                        </ul>
                    </div>
                    <div class="col">
                        <img
                            src="https://img.linux.net.cn/data/attachment/album/202307/23/151010n3nssbn84w4qm6m8.jpg"
                            alt="我要开源"
                        />
                    </div>
                </div>
            </section>
            <section data-auto-animate>
                <div class="two">
                    <div class="col">
                        <h3 class="fw-bold serif">1、2、3……</h3>
                        <p class="fw-lighter">或许，你就是潜在的大神</p>
                        <ul class="fs-4 lh-lg">
                            <li>这是你想要的么？<ul>
                                <li>你喜欢这些么？</li>
                                <li>有没有让你失望的地方？</li>
                                <li>付出的代价是否可以接受？</li>
                            </ul></li>
                            <li>它带给你什么<ul>
                                <li>盘点一下你的收获</li>
                            </ul></li>
                            <li>之后，取决于你<ul>
                                <li>浅尝辄止还是作为生活方式？</li>
                            </ul></li>
                        </ul>
                    </div>
                    <div class="col">
                        <img
                            src="https://img.linux.net.cn/data/attachment/album/202307/23/150939z0crw7jr2c6r6u5m.jpg"
                            alt="我要开源"
                        />
                    </div>
                </div>
            </section>
            <section data-auto-animate>
                <h3 class="serif fw-bold">开源是一种
                    工作和生活的方式
                    <br>Open source is a way of working and living</h3>
                <h4 class="">你也许喜欢，也许不喜欢<br>
                    You may like it, or you may not.
                    </h4>
            </section>
        </div>
    </div>

    <script
        is:inline
        src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js"
        integrity="sha512-QYXU3Cojl94ZRiZRjUZpyg1odj9mKTON9MsTMzGNx/L3JqvMA3BQNraZwsZ83UeisO+QMVfFa83SyuYYJzR9hw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

    <script>
        // @ts-ignore
        Reveal.initialize({
            embedded: true,
        });
    </script>
</Layout>

<style>
    .reveal {
        height: 700px;
    }
    .serif {
        font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC",
            STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW",
            "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312,
            DFKai-SB, "TW\-Kai", serif;
    }
    .two {
        display: flex;
    }
    .col {
        flex: 1;
    }
</style>
