---
interface Props {
	title: string;
	body?: string;
	href: string;
}

const { href, title, body } = Astro.props;
---
<a href={href} class="text-decoration-none">
<div class="card">
	<div class="card-body">
		<h5 class="card-title">{title} <span>&rarr;</span></h5>
		<p class="card-text">{body}</p>
	</div>
</div>
</a>